# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [75]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')
chipo

      order_id  ...  item_price
0            1  ...      $2.39
1            1  ...      $3.39
2            1  ...      $3.39
3            1  ...      $2.39
4            2  ...     $16.98
...        ...  ...         ...
4617      1833  ...     $11.75
4618      1833  ...     $11.75
4619      1834  ...     $11.25
4620      1834  ...      $8.75
4621      1834  ...      $8.75

[4622 rows x 5 columns]

### Step 3. Assign it to a variable called chipo.

### Step 4. See the first 10 entries

In [6]:
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

### Step 5. What is the number of observations in the dataset?

In [7]:
len(chipo)

4622

In [ ]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

In [8]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [9]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [13]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [14]:
chipo.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

In [39]:
most_ordered_item = chipo.groupby('item_name')[['quantity']].sum().sort_values('quantity',ascending=False).reset_index()
most_ordered_itemm = most_ordered_item.head(1)
most_ordered_itemm['item_name']

0    Chicken Bowl
Name: item_name, dtype: object

### Step 10. For the most-ordered item, how many items were ordered?

In [40]:
most_ordered_itemm['quantity']

0    761
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [42]:
chipo.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

In [61]:
msd = chipo.groupby('choice_description').sum().sort_values('quantity',ascending=False)
msd.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [64]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

In [81]:
chipo['item_price1'] = chipo.item_price.str.split('$',expand=True)[1]

chipo['item_price1'] = chipo.item_price1.astype(float)

In [84]:
chipo['item_price'] = chipo['item_price1']
chipo.item_price.dtype

dtype('float64')

#### Step 13.a. Check the item price type

In [93]:
chipo['item_price'].dtype

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

In [105]:
chipo

      order_id  quantity  ... item_price1     sales
0            1         1  ...        2.39      2.39
1            1         1  ...        3.39      3.39
2            1         1  ...        3.39      3.39
3            1         1  ...        2.39      2.39
4            2         2  ...       16.98     33.96
...        ...       ...  ...         ...       ...
4617      1833         1  ...       11.75  21537.75
4618      1833         1  ...       11.75  21537.75
4619      1834         1  ...       11.25  20632.50
4620      1834         1  ...        8.75  16047.50
4621      1834         1  ...        8.75  16047.50

[4622 rows x 7 columns]

### Step 14. How much was the revenue for the period in the dataset?

In [109]:
chipo['sales'] = chipo.quantity * chipo.item_price
'$'+str(chipo['sales' ].sum())

'$39237.02'

### Step 15. How many orders were made in the period?

In [118]:
# len(chipo.order_id.unique())
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [123]:
chipo.groupby('order_id')[['sales']].sum()['sales'].mean()

21.394231188658654

In [ ]:
# Solution 2

### Step 17. How many different items are sold?

In [126]:
# len(chipo.item_name.unique())
chipo.item_name.value_counts().count()

50